<div class="example-form" *ngIf="!preview">
    <div>
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Vārds, Uzvārds" [(ngModel)]="name">
      </mat-form-field>  
    </div>  
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Personas kods" [(ngModel)]="personasKods"/> 
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Izmērs (mm)" [(ngModel)]="prostateSize">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Struktūra" [(value)]="prostateStructure">
          <mat-option value="Homogēna">Homogēna</mat-option>
          <mat-option value="Inhomogēna">Inhomogēna</mat-option>
          <mat-option value="Ar mezgliem">Ar mezgliem</mat-option>
          <mat-option value="Ar kalcinātiem">Ar kalcinātiem</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" *ngIf="prostateStructure == 'Ar mezgliem' || prostateStructure == 'Ar kalcinātiem'">
        <input matInput placeholder="Mezgli (mm)" [(ngModel)]="prostateStructureSize">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
          <mat-select placeholder="Kontūras" [(value)]="prostateContour">
            <mat-option value="Gludas">Gludas</mat-option>
            <mat-option value="Viļainas">Viļainas</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div>
      Slēdziens: 
      <mat-form-field  class="selector">
        <mat-select [(value)]="final">
          <mat-option value="Pataloģiskas izmaiņas nevizualizējas">Pataloģiskas izmaiņas nevizualizējas</mat-option>
          <mat-option value="Prostatas adenoma">Prostatas adenoma</mat-option>
          <mat-option value="other">Cits</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="final == 'other'">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Cits" [(ngModel)]="finalReason"></textarea>
          </mat-form-field>
      </div>
    </div>
  
    <div>
      Rekomendācijas: 
      <mat-form-field  class="selector">
        <mat-select [(value)]="recomendation">
          <mat-option value="Atkārtota USG kontrole pēc">Atkārtota USG kontrole pēc</mat-option>
          <mat-option value="Urologa konsultācija un PSA">Urologa konsultācija un PSAa</mat-option>
          <mat-option value="other">Cits</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="recomendation == 'other' || recomendation == 'Atkārtota USG kontrole pēc'">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="recomendationReason">
          </mat-form-field>
      </div>
    </div>
  
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="date" placeholder="Izmeklējuma datums" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field  class="selector">
        <mat-select [(value)]="doctorName">
          <mat-option value="Ausma Erdmane">Ausma Erdmane</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  </div>
  <div id="print-section" *ngIf="preview">
      <h3 style="text-align: center">Prostatas USG</h3>
      <p>
          Vārds, Uzvārds: {{name}} <br/>
          Personas kods: {{personasKods}}
      </p>
      <p>Izmēri: {{prostateSize+ ' mm'}}</p>
      <p>Struktūra: {{prostateStructure == 'Ar mezgliem' || prostateStructure == 'Ar kalcinātiem' ? prostateStructure + ' ' + prostateStructureSize + 'mm' : prostateStructure}}</p>
      <p>Kontūras: {{prostateContour}}</p>
      <p>Slēdziens: {{final == 'other' ? finalReason : final}}</p>
      <p>Rekomendācijas: {{recomendation == 'other' ? recomendationReason : (recomendation == 'Atkārtota USG kontrole pēc' ? recomendation + ' ' + recomendationReason : recomendation)}}</p>
      <p>Izmeklējuma datums: {{dateTaken}}</p>
      <p>Ārsts: {{doctorName}}</p>
  </div>
  
  <button mat-raised-button color="accent" (click)="preview = !preview">{{preview ? 'Labot' : 'Apskatīt'}}</button>
  