<div *ngIf="!preview">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput  placeholder="Vārds, Uzvārds" [(ngModel)]="name">
    </mat-form-field>  
  </div>  
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Personas kods" [(ngModel)]="personasKods"/> 
    </mat-form-field>
  </div>    
  <div>
      Isthmus:
      <div>
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Izmērs (mm)" [(ngModel)]="isthmusSize">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tilpums" [(ngModel)]="isthmusCapacity">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Struktūra" [(value)]="isthmusStructure">
            <mat-option value="Homogēna">Homogēna</mat-option>
            <mat-option value="Nehomogēna">Nehomogēna</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Kontūras" [(value)]="isthmusContour">
              <mat-option value="Gludas">Gludas</mat-option>
              <mat-option value="Deformētas">Deformētas</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Mezgli" [(value)]="isthmusAnomalities">
            <mat-option value="Hipoehogēni">Hipoehogēni </mat-option>
            <mat-option value="Hiperehogēni">Hiperehogēni</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mezgli (mm)" [(ngModel)]="isthmusAnomalitiesSize">
        </mat-form-field>
      </div>
  </div>
  <div>
      Kreisā daiva:
      <div>
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Izmērs (cm)" [(ngModel)]="leftSideSize">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tilpums" [(ngModel)]="leftSideCapacity">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Struktūra" [(value)]="leftSideStructure">
            <mat-option value="Homogēna">Homogēna</mat-option>
            <mat-option value="Nehomogēna">Nehomogēna</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Kontūras" [(value)]="leftSideContour">
              <mat-option value="Gludas">Gludas</mat-option>
              <mat-option value="Deformētas">Deformētas</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Mezgli" [(value)]="leftSideAnomalities">
            <mat-option value="Hipoehogēni">Hipoehogēni </mat-option>
            <mat-option value="Hiperehogēni">Hiperehogēni</mat-option>
            <mat-option value="Ar kalcinātiem">Ar kalcinātiem </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mezgli (mm)" [(ngModel)]="leftSideAnomalitiesSize">
        </mat-form-field>
      </div>
  </div>
  <div>
      Labā daiva:
      <div>
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Izmērs (cm)" [(ngModel)]="rightSideSize">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tilpums" [(ngModel)]="rightSideCapacity">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Struktūra" [(value)]="rightSideStructure">
            <mat-option value="Homogēna">Homogēna</mat-option>
            <mat-option value="Nehomogēna">Nehomogēna</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Kontūras" [(value)]="rightSideContour">
              <mat-option value="Gludas">Gludas</mat-option>
              <mat-option value="Deformētas">Deformētas</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Mezgli" [(value)]="rightSideAnomalities">
            <mat-option value="Hipoehogēni">Hipoehogēni </mat-option>
            <mat-option value="Hiperehogēni">Hiperehogēni</mat-option>
            <mat-option value="Ar kalcinātiem">Ar kalcinātiem </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mezgli (mm)" [(ngModel)]="rightSideAnomalitiesSize">
        </mat-form-field>
      </div>
  </div>
  <div>
    Kakla limfmezgli:
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Mezgli" [(value)]="neckThyroid">
        <mat-option value="Nevizualizējas">Nevizualizējas </mat-option>
        <mat-option value="Vizualizējas specifiski">Vizualizējas specifiski</mat-option>
        <mat-option value="Vizualizējas nespecifiski ">Vizualizējas nespecifiski  </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" *ngIf="neckThyroid && neckThyroid !== 'Nevizualizējas'">
      <input matInput placeholder="Mezgli (mm)" [(ngModel)]="neckThyroidSize">
    </mat-form-field>
  </div>
  <div>
    Slēdziens: 
    <mat-form-field  class="selector">
      <mat-select [(value)]="final">
        <mat-option value="Bez vizuālas pataloģijas">Bez vizuālas pataloģijas</mat-option>
        <mat-option value="Autoimūns tiroidīts">Autoimūns tiroidīts</mat-option>
        <mat-option value="Multinodulāra struma">Multinodulāra struma</mat-option>
        <mat-option value="Nodulāra struma">Nodulāra struma</mat-option>
        <mat-option value="other">Cits</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="final == 'other'">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Cits" [(ngModel)]="finalReason"></textarea>
        </mat-form-field>
    </div>
  </div>
  <div>
    Rekomendācijas: 
    <mat-form-field  class="selector">
      <mat-select [(value)]="recomendation">
        <mat-option value="Atkārtota USG kontrole pēc">Atkārtota USG kontrole pēc</mat-option>
        <mat-option value="Mammologa konsultācija">Mammologa konsultācija</mat-option>
        <mat-option value="Mammogrāfija">Mammogrāfija</mat-option>
        <mat-option value="other">Cits</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="recomendation == 'other' || recomendation == 'Atkārtota USG kontrole pēc'">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="recomendationReason">
        </mat-form-field>
    </div>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="date" placeholder="Izmeklējuma datums" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field  class="selector">
      <mat-select [(value)]="doctorName">
        <mat-option value="Ausma Erdmane">Ausma Erdmane</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
</div>
<div *ngIf="preview">
  <div id="print-section" *ngIf="preview">
    <h3 style="text-align: center">Vairogdziedzera ultrasonografija</h3>
    <p>
        Vārds, Uzvārds: {{name}} <br/>
        Personas kods: {{personasKods}}
    </p>    
    <div>
      <b>Isthmus:</b>
      <p>Izmērs: {{isthmusSize}}</p>
      <p>Tilpums: {{isthmusCapacity}}</p>
      <p>Struktūra: {{isthmusStructure}}</p>
      <p>Kontūras: {{isthmusContour}}</p>
      <p>Veidojumi: {{isthmusAnomalities + ' ' + isthmusAnomalitiesSize}}</p>
    </div>
    <div>
      <b>Kreisā daiva:</b>
      <p>Izmērs: {{leftSideSize}}</p>
      <p>Tilpums: {{leftSideCapacity}}</p>
      <p>Struktūra: {{leftSideStructure}}</p>
      <p>Kontūras: {{leftSideContour}}</p>
      <p>Veidojumi: {{leftSideAnomalities + ' ' + leftSideAnomalitiesSize}}</p>
    </div>
    <div>
      <b>Labā daiva:</b>
      <p>Izmērs: {{rightSideSize}}</p>
      <p>Tilpums: {{rightSideCapacity}}</p>
      <p>Struktūra: {{rightSideStructure}}</p>
      <p>Kontūras: {{rightSideContour}}</p>
      <p>Veidojumi: {{rightSideAnomalities + ' ' + rightSideAnomalitiesSize}}</p>
    </div>
    <div>
      <b>Kakla limfmezgli:</b>
      <p>{{neckThyroid !== 'Nevizualizējas' ? neckThyroid + ' ' + neckThyroidSize + 'mm'  : neckThyroid}}</p>
    </div>
    <p>Slēdziens: {{final == 'other' ? finalReason : 'fibroza mastopātijas'}}</p>
    <p>Rekomendācijas: {{recomendation == 'other' ? recomendationReason : (recomendation == 'Atkārtota USG kontrole pēc' ? recomendation + ' ' + recomendationReason : recomendation)}}</p>
    <p>Izmeklējuma datums: {{dateTaken}}</p>
    <p>Ārsts: {{doctorName}}</p>
  </div>
</div>
<button mat-raised-button color="accent" (click)="preview = !preview">{{preview ? 'Labot' : 'Apskatīt'}}</button>
